/*
    Nome: Matilde Pires Domingues
    Nº Estudante: 3210442
    Portfolio
    3º, 2023-2024
    2º Semestre
    Unidade Curricular: Laboratório de Projeto II
    Curso: DGM
    ESAD.CR
    Docente: Marco Heleno
    31 de Maio 2024
*/


@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap"); /*importar tipo de letra do google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap"); /*importar tipo de letra do google fonts*/


* /*seletor geral*/
{
  /*outline: 1px dashed red;
  outline-offset: -1px;*/
  margin:  0; /* Remove a margem padrão */
  padding: 0; /* Remove os padding padrão */
}


#logo{
    color:#ffffff; /*Define a cor branca para a tipografia do 'logo'*/
    text-decoration: none; /*Remove qualquer decoração de texto*/
    text-transform: none; /* Não altera a transformação do texto*/
    font-weight: 700; /*Define o peso da fonte como 700, que é equivalente a 'bold'*/
    font-family:"Dancing Script", cursive; /*Define o tipo de letra*/
    font-size: 180%; /*Define o tamanho da fonte*/
    float: left; /*Faz com que o elemento flutue à esquerda do seu conteiner*/  
}

.video-container {
    position: fixed; /*Define o tipo de posição*/
    top: 0; /*Define que este elemento se posicione no 0 em relação ao topo*/
    left: 0; /*Define que este elemento se posicione no 0 em relação à esquerda*/
    width: 100%; /*Define a largura do elemento a 100%*/
    height: 100%; /*Define a altura do elemento a 100%*/
    overflow: hidden; /*Faz com que qualquer parte do conteúdo ultrapasse a área delimitada, não seja visível*/
    z-index: -1; /*Faz com que este elemento fique por detrás dos outros elementos*/
}

.background-video {
    position: absolute; /*Define o tipo de posição*/
    top: 50%; /*Define que este elemento se posicione a 50% a partir do topo*/
    left: 50%; /*Define que este elemento se posicione a 50% a partir da esquerda*/
    width: 100%; /*Define a largura do elemento a 100% */
    height: 100%; /*Define a altura do elemento a 100% */
    object-fit: cover; /*Faz com que este elemento se ajuste à outra div */
    transform: translate(-50%, -50%); /*Serve para centralizar o elemento */
}

.capa-index{ 
    min-height: 100%; /* Garante que o corpo tenha pelo menos a altura da janela */
    margin: 0; /* Remove a margem padrão */
}

.capa-about{
    background-image: url('projects/projeto1/imagens/capa-about.png'); /*Define a imagem de fundo*/
    background-size: cover; /* Faz a imagem preencher toda a área disponível */
    background-position:top; /* Centraliza a imagem no topo do ecrã */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    min-height: 100%; /* Garante que o corpo tenha pelo menos a altura da janela */
    margin: 0; /* Remove a margem padrão */
}

.capa-projects{
    background-color: #000000; /*Define cor de fundo a preto */
    font-family: "Archivo", sans-serif; /*Define o tipo de letra*/
    font-size:1.4em; /*Define o tamanho da fonte*/
    color:#ffffff; /*Define a cor branca da tipografia*/
    padding-left: 4%; /*Adiciona um padding à esquerda de 4%*/
    padding-right: 4%;  /*Adiciona um padding à direita de 4%*/
    padding-top: 4%; /*Adiciona um padding no topo de 4%*/
    padding-bottom: 8%; /*Adiciona um padding no fundo de 4%*/
}

.capa-projeto4{
    margin-bottom: 4%; /*Define a margem inferior de 4% */
}

body
{
    background-color: #000000; /*Define a cor de fundo*/
    font-family: "Archivo", sans-serif; /*Define a tipografia*/ 
    font-size:1.4em; /*Define o tamanho da fonte*/
    color:#ffffff; /*Define a cor do texto*/
    padding: 4%; /*Adiciona um padding em toda a volta de 4%*/
}


nav {
    text-transform: uppercase; /*Altera todas as letras para letras maiúsculas*/
    display:flex; /*Define a nav como flexbox, permitindo criar layouts responsivos e flexíveis*/
    font-size: 0.8em; /*Define o tamanho da fonte*/
    justify-content: space-between; /*Alinha os elementos*/
    align-items: center; /*Alinha verticalmente todos os elementos dentro da nav ao centro*/
    gap:10%; /*Define um espaço de 10% entre cada elemento da flexbox */
    width:100%; /*Define a largura da nav*/
}

nav a{
    display: flex; /*Define a nav como flexbox, permitindo criar layouts responsivos e flexíveis*/
    gap:10%; /*Define um espaço de 10% entre cada elemento da flexbox */
}

.menu-links {
    display: flex; /*Define a nav como flexbox, permitindo criar layouts responsivos e flexíveis*/
    gap:2em; /*Define um espaço de 2em entre cada elemento da flexbox */
}

.menu-links a{
    display: flex; /*Define a nav como flexbox, permitindo criar layouts responsivos e flexíveis*/
    gap:2em; /*Define um espaço de 2em entre cada elemento da flexbox */
}

#titles{
    font-size:2em; /*Define o tamanho da fonte*/
    font-family: "Archivo", sans-serif; /*Define o tipo de letra*/
    text-transform: uppercase; /*Altera todas as letras para letras maiúsculas*/
    font-weight: bold; /*Define a tipografia para bold*/
}

#subtitles{
    font-size:1em; /*Define o tamanho da fonte*/
    font-family: "Archivo", sans-serif; /*Define o tipo de letra*/
    text-transform: uppercase; /*Altera todas as letras para letras maiúsculas*/
    font-weight: bold; /*Define a tipografia para bold*/
}

p{ /*textos*/
    color:#ffffff; /*Define a cor da tipografia*/
    font-size:0.8em; /*Define o tamanho da fonte*/
    text-align: justify; /*Justifica o texto*/
    text-justify:inter-word; /*ajusta espaço entre as palavras*/
    padding-top: 1em; /*Adiciona um padding no topo de 1em*/
    width:38%; /*Define a largura do espaço ocupado por estes <p>*/
}

ul{
    list-style-type: none; /*Retira as listas*/
    padding-top:1em; /*Adiciona um padding no topo de 1em*/
    display: flex; /*Define a nav como flexbox, permitindo criar layouts responsivos e flexíveis*/
    gap:28px; /*Define um espaço de 28px entre cada elemento da flexbox */
    font-size:0.6em; /*Define o tamanho da fonte*/
    text-transform: uppercase; /*Coloca todas as letras em maiusculas*/
    width:38%; /*Define a largura do <ul>*/

}

li {
    border-color: #ffffff; /*Define a cor branca para as bordas das formas*/
    border-style: solid; /*Define o estilo da borda*/
    border-radius: 50px; /*Arredonda os cantos a 50px*/
    border-width: 2px; /*Define a espessura da borda*/

    padding: 1% 2%; /*Adiciona padding interno de 1% na vertical (topo e fundo) e 2% na horizontal (esquerda e direita)*/

    text-align: center; /* Centraliza o texto dentro do elemento */
    display: inline-block; /* Torna o elemento um bloco inline para melhor controlo */
    width: auto; /*Define a largura como automática*/
}

.button {
    text-transform: uppercase; /* Define todas as letras em maiúsculas */

    border-color: #ffffff; /* Cor da borda */
    border-style: solid; /* Estilo da borda */
    border-radius: 50px; /* Arredonda as bordas */
    border-width: 2px; /* Largura da borda */

    padding: 1% 2%; /* Espaçamento interno no botão */

    text-align: center; /* Centraliza o texto */
    display: inline-block; /* Faz o link se comportar como um bloco, mas apenas ocupando o espaço necessário */
    
    font-size:0.6em; /*Define o tamanho da fonte */
    position: relative; /*Define o tipo de posição*/
    left:86%; /*Define a posição quantitivamente mais específica, colocando o elemento no exato local que eu quero*/
  }


.button:hover {
    background-color: #ffffff; /*Quando se passa com o rato por cima do botão, o botão fica branco*/
    font-weight: bold; /*Quando se passa com o rato por cima do botão, a tipografia fica a bold*/
    color: #000000; /*Quando se passa com o rato por cima do botão, a tipografia fica a preto*/
}


h1{
    text-transform: uppercase; /* Define todas as letras em maiúsculas */
    font-weight: 900; /*Define a tipografia com um peso de 900 que equivale a black/bold*/
}

h3{
    text-transform: uppercase; /* Define todas as letras em maiúsculas */
    font-weight: 400; /*Define a tipografia para regular*/
    padding-top: 3em; /*Adiciona um padding no topo de 3em*/
}

#Video{
    font-size: 2.5em; /*Define o tamanho da fonte*/
    text-transform: uppercase; /* Define todas as letras em maiúsculas */
    font-weight: 400; /*Define a tipografia para regular*/
    text-align: left; /*Alinha o texto à esquerda*/
}

#Portfolio{
    font-size: 3.65em; /*Define o tamanho da fonte*/
    text-transform: uppercase; /* Define todas as letras em maiúsculas */
    font-weight: 900; /*Define a tipografia com um peso de 900 que equivale a black/bold*/
    text-align: left; /*Alinha o texto à esquerda*/
}


a:link{
    color: #ffffff; /*Define a cor do link*/
    text-decoration: none; /*Retira todas as formatações*/
}


a:visited{
    color: #ffffff; /*Define a cor do link quando é visitado*/
    text-decoration: none; /*Retira todas as formatações*/
    font-weight: bold; /*O link fica a bold*/
}


nav a:hover{
    color: #ffffff; /*Define a cor do link quando o rato passa por cima do mesmo*/
    font-weight: bold; /*O link fica a bold*/
}

a:active{
    color: #ffffff; /*Define a cor do link quando o link está ativo*/
    font-weight: bold; /*O link fica a bold*/
}

span{
    text-transform: uppercase; /* Define todas as letras em maiúsculas */
    font-weight: 900; /*Define a tipografia com um peso de 900 que equivale a black/bold*/
}

#projetos, #contactos{
    font-weight: bold; /*Fica a bold*/
    color:#ffffff; /* Define a cor da tipografia */
    background-color: #000000; /*Define a cor de fundo*/
}


/*FOOTER*/

footer{
    width:92%;
    height: 4em; /*Define a altura do footer*/
    display: flex; /*Aplica o modelo de flexbox*/
    align-items: center; /* Centraliza os elementos verticalmente */
    position:fixed;  /*Fixa a posição do footer*/
    bottom: 0; /*Fixa o footer ao fundo do ecrã*/
    background-color: #000000; /*Define a cor de fundo do footer*/
}

.footer-socialmedia{
    display: flex; /*Aplica o modelo de flexbox*/
    gap: 0.5em; /*Define um espaço de 0.5em entre cada elemento da flexbox*/
}

footer a 
{

    width: 1.5em; /*Define a largura de cada espaço do link pro icone*/
    height: 1.5em; /*Define a altura de cada espaço do link pro icone*/
    background-size: contain; /* Garante que a imagem preencha todo o espaço do link */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    
}

#about, #index{
    background-color: transparent; /*Define o footer com fundo transparente */
}


.email:link { background-image: url("projects/projeto1/imagens/logoemail.png"); } /*Define o icone que aparece no link normalmente*/
.email:hover { background-image: url("projects/projeto1/imagens/email-invers.png"); } /*Define o icone que aparece quando se passa o rato por cima do link*/

.insta:link { background-image: url("projects/projeto1/imagens/logoinsta.png"); } /*Define o icone que aparece no link normalmente*/
.insta:hover { background-image: url("projects/projeto1/imagens/insta-invers.png"); } /*Define o icone que aparece quando se passa o rato por cima do link*/

.youtube:link { background-image: url("projects/projeto1/imagens/logoyoutube.png"); } /*Define o icone que aparece no link normalmente*/
.youtube:hover { background-image: url("projects/projeto1/imagens/youtube-invers.png"); } /*Define o icone que aparece quando se passa o rato por cima do link*/

.linkedin:link { background-image: url("projects/projeto1/imagens/logolinkedin.png"); } /*Define o icone que aparece no link normalmente*/
.linkedin:hover { background-image: url("projects/projeto1/imagens/linkedin-invers.png"); } /*Define o icone que aparece quando se passa o rato por cima do link*/

.behance:link { background-image: url("projects/projeto1/imagens/logobehance.png"); } /*Define o icone que aparece no link normalmente*/
.behance:hover { background-image: url("projects/projeto1/imagens/behance-invers.png"); } /*Define o icone que aparece quando se passa o rato por cima do link*/


/*PROJETO 1*/
.apresentacao-project iframe {
    width: 50vw; /* Define a largura do espaço ocupado pelo vídeo */
    height: 25vw; /* Define a altura do espaço ocupado pelo vídeo */
    float: right; /* Faz com que o vídeo flutue para a direita */
    padding-top: 5%; /* Adiciona um padding no topo de 5% */
}

#titles-project{
    font-size:2em; /*Define o tamanho da fonte*/    
    font-family: "Archivo", sans-serif; /*Define o tipo de letra*/
    text-transform: uppercase; /*Torna todas as letras em maiusculas*/
    font-weight: bold; /*A tipografia fica a bold*/
    padding-top:10%; /*Adiciona um padding no topo de 10%*/
    text-align: left; /*Alinha texto à esquerda*/

}

#titles-project-long{
    font-size:1.8em; /*Define o tamanho da fonte*/ 
    font-family: "Archivo", sans-serif; /*Define o tipo de letra*/
    text-transform: uppercase; /*Torna todas as letras em maiusculas*/
    font-weight: bold; /*A tipografia fica a bold*/
    padding-top:10%; /*Adiciona um padding no topo de 10%*/
    text-align: left; /*Alinha texto à esquerda*/
}

.apresentacao-project {
    width: 100%; /* Define a largura desta área */
    line-height: 1em; /* Define um espaçamento entre linhas de 1em */
}

main p{
    line-height: 1.3em; /*Define um espaçamento entre linhas de 1.3em*/
    text-align: justify; /*Justifica o texto*/
    text-justify:inter-word; /*Ajusta o espaço entre as palavras*/
}


figure 
{
    width: 28%; /*Define a largura desta área*/
    margin: 2%; /* Define uma margem de 2% */
}


figure img 
{
    width: 100%; /*Define a largura da imagem para aparecer*/
    display: block; /* Remove espaços extras abaixo das imagens */
}


article{
    display: flex; /* Define o modelo de flexbox*/
    flex-wrap: wrap; /*Permite que os elementos filhos da flexbox envolvam para a próxima linha, se necessário*/
    justify-content: center; /* Centraliza os elementos horizontalmente */
    align-items: center; /* Centraliza os elementos verticalmente */
    margin-top: 10%; /*Define a margem superior de 10%*/
}


.producao{
    width: 100%; /*Define a largura desta área*/
    height:10%; /*Define a altura desta área*/
    margin-top: 5%; /*Define uma margem superior de 5%*/
}

.producao iframe{
    width:40%; /*Define a largura desta área*/
    height:20vw; /*Define a altura desta área*/
    padding-top:5%; /*Define um padding superior de 5%*/
    padding-bottom:5%; /*Define um padding inferior de 5%*/
    padding-left:30%; /*Define um padding do lado esquerdo de 30%*/
    padding-right:30%; /*Define um padding do lado direito de 30%*/
}

.pre-producao{
    width: 100%; /*Define a largura desta área*/
    height:5%; /*Define a altura desta área*/
    padding-top:5%; /*Define um padding superior de 5%*/
    padding-bottom:5%; /*Define um padding inferior de 5%*/
}

.pre-producao img{
    width:100%; /*Define a largura desta área*/
}


/* PROJETOS */
.grid-container {
    display: grid; /* Define o modelo de layout grid*/
    gap: 10px; /*Define um espaço de 10px entre cada elemento da flexbox */
    padding: 0%; /*Define em 0% todos os paddings*/
    padding-top: 5%; /*Define um padding superior de 5%*/
}

.grid-item {
    display: flex; /* Define o modelo de flexbox */
    align-items: center; /* Alinha verticalmente no centro */
    justify-content: center; /* Alinha horizontalmente no centro */
    padding: 20%; /* Define um padding de 20% */
    position: relative; /* Para posicionamento de fundo e texto */
    background-size: cover; /* A imagem preenche a caixa */
    background-position: center; /* Centraliza a imagem na caixa respectiva */
  }

.grid-item a {
    display: flex; /*Centraliza o conteúdo*/
    align-items: center; /*Alinha verticalmente ao centro*/
    justify-content: center; /*Centraliza horizontalmente*/
    text-decoration: none; /* Remove a decoração padrão do link */
    width: 100%; /*Faz o link ocupar toda a largura do item da grid*/
    height: 100%; /*Faz o link ocupar a altura do item da grid*/
    position: absolute; /* Faz o link ocupar todo o espaço do grid item */
    top: 0; /*Define a posição superior do link como 0*/
    left: 0;/*Define a posição esquerda do link como 0*/
}

.grid-item:hover{
    box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 1); /* Efeito de vinheta */
}

.grid-item p {
    width: 100%; /*Faz o p ocupar toda a largura do item*/
    text-align: center; /*Centraliza horizontalmente*/
    font-size: 0.8em; /*Define o tamanho da fonte*/
    white-space: nowrap; /*Impede que o texto quebre em novas linhas*/
    font-weight: 500; /*Define a espessura da fonte*/
    padding: 0; /*Retira todos os padding*/
    visibility: hidden; /*Inicialemente o texto fica invisivel*/
    transition: opacity 0.5s ease, visibility 0.5s; /*Transição suave para opacidade e visibilidade*/
}

.grid-item:hover p {
    opacity: 1; /* Torna o texto visível ao passar o mouse com opacidade de 1*/
    visibility: visible; /* Torna o texto visível ao passar o mouse */
}

.item1 {
    background-image: url("projects/projeto1/imagens/project3/capa-project3.jpg"); /*Define a imagem de fundo dessa caixa*/
    box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.3); /* Efeito de vinheta */
    background-size: cover; /*A imagem preenche a caixa*/
    background-position: center; /*Centraliza a imagem na caixa respetiva*/
    grid-column: 3; /*Define o número de colunas da grid*/
    grid-row: 1/ span 2; /*Define o número de linhas da grid*/
  }
  
.item2 {
    background-image: url("projects/projeto1/imagens/project1/capa1_1.jpg"); /*Define a imagem de fundo dessa caixa*/
    box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.3); /* Efeito de vinheta */
    background-size: cover; /*A imagem preenche a caixa*/
    background-position: top; /*Centraliza a imagem no topo da caixa respetiva*/
  }

.item3 {
    background-image: url("projects/projeto1/imagens/project2/capa2_1.jpg"); /*Define a imagem de fundo dessa caixa*/
    box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.3); /* Efeito de vinheta */
    background-size: cover; /*A imagem preenche a caixa*/
    background-position: top; /*Centraliza a imagem no topo da caixa respetiva*/
  }

.item4 {
    background-image: url("projects/projeto1/imagens/project4/capa4.png"); /*Define a imagem de fundo dessa caixa*/
    box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.3); /* Efeito de vinheta */
    background-size: cover; /*A imagem preenche a caixa*/
    background-position: top; /*Centraliza a imagem no topo da caixa respetiva*/
  }

.item5 {
    background-image: url("projects/projeto1/imagens/project5/capa5.png"); /*Define a imagem de fundo dessa caixa*/
    box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.3); /* Efeito de vinheta */
    background-size: cover; /*A imagem preenche a caixa*/
    background-position: top; /*Centraliza a imagem no topo da caixa respetiva*/
  }


.item2:hover { background-image: url("projects/projeto1/imagens/project1/capa1_2.jpg"); } /*Define a imagem de fundo quando passo o rato por cima*/
.item3:hover { background-image: url("projects/projeto1/imagens/project2/capa2_2.jpg");} /*Define a imagem de fundo quando passo o rato por cima*/



/* RESPONSIVE */

@media only screen and (max-width: 1500px) /*Tornar responsive para dispositivos com largura máxima de 1500px*/
{
   /* main
    {
        background-color: brown;
    } */
    
    /*Index*/
    .capa-index{
        background-size:auto; /*Define o background para automático podendo-se ajustar automaticamente */
    }

    /*About me*/
    .capa-about{
        margin-bottom: 4%; /*Define uma margem no fundo*/
    }
    #about{
        background-color: #000000; /*Define a cor de fundo do footer*/
        width: 100%; /*Define o tamanho da largura do footer*/
    }

    p{
        font-size:0.8em; /*Define o tamanho da fonte*/
    }

    #titles{
        font-size: 1.7em; /*Define o tamanho da fonte*/
    }

    #subtitles{
        font-size: 1.2em; /*Define o tamanho da fonte*/
    }

    #skills ul{
        font-size:0.6em; /*Define o tamanho da fonte*/
        gap:1em; /*Define o espaço entre os elementos*/    
        align-items: center; /*Alinhar os elementos ao centro horizontalmente*/
    }

    .button {
        width: 15%; /* Define a largura dos elementos */
        font-size: 0.6em; /*Define o tamanho da fonte*/
        position:relative; /*Define o tipo de posição do botão*/
        left:80%; /*Posiciona o botão mais à direita da página*/
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) /*Tornar responsive para dispositivos com largura máxima de 1200px*/
{
    /*main
    {
        background-color: lightsalmon;
    }*/

    .capa-index{
        background-size:auto; /*Define o background para automático podendo-se ajustar automaticamente */
    }
    
    /*About me*/
    #about{
        background-color: #000000; /*define a cor de fundo do footer*/
        width: 100%; /*Define a largura do footer*/
    }
    
    p{
        font-size:0.7em; /*Define o tamanho da fonte*/
    }

    #titles{
        font-size: 1.6em; /*Define o tamanho da fonte*/
    }

    #subtitles{
        font-size: 1.1em; /*Define o tamanho da fonte*/
    }

    #skills ul{
        font-size:0.5em; /*Define o tamanho da fonte*/
        gap:1em; /*Define o espaço entre os elementos*/
        align-items: center; /*Alinha os elementos ao centro horizontalmente*/
    }

    .button {
        width: 15%; /* Define a largura dos elementos */
        font-size: 0.5em; /*Define o tamanho da fonte*/
        position:relative; /*Define o tipo de posição dos elementos*/
        left:80%; /*Posiciona o botão mais à direita da página*/
    }

    /*Project Individual*/    
    .apresentacao-project {
        display: flex; /*Define a disposição dos elementos*/
        flex-direction: column; /*Faz com que apareça em coluna*/
        align-items: center; /*Alinha os elementos ao centro horizontalmente*/
    }

    .apresentacao-project iframe {
        order: 3; /* Define que este iframe apareça em terceiro lugar */
        width: 100%; /*Define a largura do elemento a 100%*/
        height: 15em; /*Define a altura do elemento a 15em*/
    }

    #titles-project {
        order: 1; /* Define que este elemento apareça em primeiro lugar */
        font-size: 1.8em; /*Define o tamanho da fonte*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    #titles-project p{
        font-size: 0.6em; /*Define o tamanho da fonte*/
    }

    #titles-project-long {
        font-size: 1.8em; /*Define o tamanho da fonte*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    .apresentacao-project p {
        order: 2; /* Define a ordem do parágrafo */
        text-align: justify; /* Centraliza o texto */
        width:100%; /*Define o espaço que este elemento deve ocupar*/
        font-size: 0.7em; /*Define o tamanho da fonte*/
    }

    .producao iframe{
        width: 100%; /*Define a largura que o iframe deve ocupar*/
        height:18em; /*Define a altura que o iframe deve ocupar*/
        padding: 0; /*Retira todos os padding que possa ter*/
    }

    .pre-producao{
        margin-bottom: 15%; /*Define a margem inferior desta área*/
    }

    .capa-projeto3{
        margin-bottom: 12%; /*Define a margem inferior desta área*/
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) /*Tornar responsive para dispositivos com largura máxima de 992px*/
{
    /*main
    {
        background-color: lightcoral;
    }*/

    .capa-index{
        background-size:auto; /*Define o background para automático podendo-se ajustar automaticamente */
    }

    /*About me*/
    #about{
        background-color: #000000; /*Define a cor de fundo do footer*/
        width: 100%; /*Define a largura do footer*/
    }
    
    p{
        font-size:0.6em; /*Define o tamanho da fonte*/
    }

    #titles{
        font-size: 1.5em;  /*Define o tamanho da fonte*/
    }

    #subtitles{
        font-size: 1em;  /*Define o tamanho da fonte*/
    }

    #skills ul{
        font-size:0.4em; /*Define o tamanho da fonte*/
        gap:1em; /*Define o espaço entre os elementos das listas*/ 
        align-items: center; /*Alinha os elementos horizontalmente*/
    }

    .button {
        width: 15%; /* Define a largura dos elementos */
        font-size: 0.5em; /*Define o tamanho da fonte*/
        margin-top: 10%; /*Define a margem superior*/
        position:relative; /*Define o tipo de posição deste elemento*/
        left:80%; /*Posiciona o botão mais à direita da página*/
    }

    /*Projects*/    
    .grid-item p {
        font-size: 0.6em; /*Define o tamanho da fonte*/
    }

    .item1{
        grid-column: 2; /*Altera para apenas 1 coluna*/
    }

    .grid-container{
        padding-bottom:4em; /*Define o padding inferior de 4em*/
        gap:15px; /*Define o espaço entre cada caixa da grid*/
    }

    /*Project Individual*/    
    .apresentacao-project {
        display: flex; /*Define a disposição dos elementos*/
        flex-direction: column; /*Faz com que apareça em coluna*/
        align-items: center; /*Alinha os elementos ao centro horizontalmente*/
    }

    .apresentacao-project iframe {
        order: 3; /* Define a ordem do iframe */
        width: 100%; /* Define a largura dos elemento */
        height: 15em; /* Define a altura dos elemento */
    }

    #titles-project {
        order: 1; /* Define a ordem do título */
        font-size: 1.7em; /*Define o tamanho da fonte*/
        text-align: center;
    }

    #titles-project p{
        font-size: 0.6em; /*Define o tamanho da fonte*/
    }

    #titles-project-long {
        font-size: 1.7em; /*Define o tamanho da fonte*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    .apresentacao-project p {
        order: 2; /* Define a ordem do parágrafo */
        text-align: justify; /* Centraliza o texto */
        width:100%; /* Define a largura dos elementos */
        font-size: 0.6em; /*Define o tamanho da fonte*/
    }

    .producao iframe{
        width: 100%; /* Define a largura dos elementos */
        height:18em; /* Define a altura dos elementos */
        padding: 0; /*Retira todos os padding que possa ter*/
    }

    .pre-producao{
        margin-bottom: 15%; /*Define a margem inferior de 15% */
    }

    .capa-projeto3{
        margin-bottom: 14%; /*Define a margem inferior desta área*/
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) /*Tornar responsive para dispositivos com largura máxima de 768px*/
{
   /* main 
      {
        background-color: rgb(111, 192, 219);
      }*/

    /*Geral*/
    nav {
        flex-direction: column; /*Coloca os elementos em coluna*/
    }

    .menu-links {
        margin-top: 7%; /*Define a margem superior de 7% */
    }

    #logo {
        font-size: 2em; /*Define o tamanho da fonte*/
        padding-top: 5%; /*Define o padding superior */
    }

    footer {
        height: auto; /*Define que a altura fica automática*/
        margin-right: 5%; /*Define a margem direita*/
        padding-top:2em; /*Define o padding superior*/
    }

    .footer-socialmedia {
        flex-direction: row; /*Coloca os elementos em linha*/
        flex-wrap: wrap; /*Devem ser dispostos em várias linhas caso necessário*/
        justify-content: center; /*Justificar os elementos ao centro*/
        gap: 1em; /*Define o espaço entre eles*/
        width: 100vw; /*Define a largura ocupada pelos elementos*/        
    }

    footer a {
        width: 1.8em; /*Define a largura do a*/
        height: 1.8em; /*Define a altura do a*/
        padding-bottom: 10%; /*Define o padding inferior*/
    }

    /*Index*/
    .capa-index { 
        width: 92%; /*Define a largura*/
        background-size:auto; /*Faz com que o fundo fique automático*/
    }

    #Video {
        font-size:1.5em; /*Define o tamanho da fonte*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    #Portfolio {
        font-size:2.65em; /*Define o tamanho da fonte*/
        text-align: center; /*Alinha o texto ao centro*/
    }


    /*About Me*/    
    .capa-about { 
        width: 92%; /*Define a largura*/
        background-image:none; /*Retira a imagem de fundo*/ 
        margin-bottom: 8em; /*Define a margem inferior*/
    }

    #titles{
        padding-top: 10%; /*Define o padding superior*/
        font-size: 1.5em; /*Define o tamanho da fonte*/
        width: 100%; /*Define a largura*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    #subtitles{
        font-size: 1em; /*Define o tamanho da fonte*/
        width: 100%; /*Define a largura*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    p{
        font-size: 0.6em; /*Define o tamanho da fonte*/
        width: 100%; /*Define a largura*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    #skills ul{
        font-size:0.6em; /*Define o tamanho da fonte*/
        display: flex; /*Define a disposição dos elementos*/
        flex-direction: column; /*Coloca os elementos em coluna*/
        gap:2em; /*Define o espaço entre os elementos*/
        justify-content: center; /* Alinha verticalmente ao centro */
        align-items: center; /* Alinha horizontalmente ao centro */
        padding-left: 31%; /*Define o padding do lado esquerdo*/
    }

    .button {
        width: 35%; /* Define a largura dos elementos */
        font-size: 0.6em; /*Define o tamanho da fonte*/
        margin-top: 10%; /*Define a margem superior*/
        position:relative; /*Define o tipo de posição*/
        left:30%; /*Posiciona o elemento exatamente onde quero, a partir do lado esquerdo*/
    }

    #about{
        background-color: #000000; /*Define a cor de fundo do footer*/
        padding-top: 2em; /*Define o padding superior*/
        width: 92%; /*Define a largura do footer*/
    }


    /*Projects*/    
    .grid-item p {
        font-size: 0.6em; /*Define o tamanho da fonte*/
    }

    .item1{
        grid-column: 2; /*Altera para apenas 1 coluna*/
    }

    .grid-container{
        padding-bottom:7em; /*Define o padding inferior*/
        gap:20px; /*Define o espaço entre os elementos*/
    }


      /*Project Individual*/    
    .apresentacao-project {
        display: flex; /*Define a disposição do elemento*/
        flex-direction: column; /*Coloca os elementos em coluna*/
        align-items: center; /*Alinha os elementos ao centro horizontalmente*/
    }

    .apresentacao-project iframe {
        order: 3; /*Faz com que este iframe surja em terceiro lugar*/
        width: 100%; /*Define a largura do iframe*/
        height: 15em; /*Define a altura do iframe*/
    }

    #titles-project {
        order: 1; /* Define a ordem do título */
        font-size: 1.6em; /*Define o tamanho da fonte*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    #titles-project p{
        font-size: 0.6em; /*Define o tamanho da fonte*/
    }

    #titles-project-long {
        font-size: 1.6em; /*Define o tamanho da fonte*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    .apresentacao-project p {
        order: 2; /* Define a ordem do parágrafo */
        text-align: justify; /* Centraliza o texto */
        width:100%; /*Define a largura*/
        font-size: 0.7em; /*Define o tamanho da fonte*/
    }

    .producao iframe{
        width: 100%; /*Define a largura do iframe*/
        height:12em; /*Define a altura do iframe*/
        padding: 0; /*Retira todos os padding que possa ter*/
    }

    .pre-producao{
        margin-bottom: 20%; /*Define a margem inferior*/
    }

    .capa-projeto4{
        margin-bottom: 20%; /*Define a margem inferior*/
    }

    .capa-projeto3{
        margin-bottom: 20%; /*Define a margem inferior desta área*/
    }
      
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) /*Tornar responsive para dispositivos com largura máxima de 600px*/
{
   /* main 
      {
        background-color: yellowgreen;
      }*/

    /*Geral*/
    nav {
        flex-direction: column; /*Coloca os elementos em coluna*/
    }

    .menu-links {
        margin-top: 7%; /*Define a margem superior*/
    }

    #logo {
        font-size: 2em; /*Define o tamanho da fonte*/
        padding-top: 5%; /*Define o padding superior*/
    }

    footer {
        height: auto; /*A altura do footer fica automática*/
        margin-right: 5%; /*Define a margem direita*/
        padding-top:2em; /*Define o padding superior*/
    }

    .footer-socialmedia {
        flex-direction: row; /*Os elementos ficam em linha*/
        flex-wrap: wrap; /*Devem ser dispostos em várias linhas caso necessário*/
        justify-content: center; /*Justificar os elementos ao centro*/
        gap: 1em; /*Define o espaço entre os elementos*/
        width: 100vw; /*Define a largura*/
    }

    footer a {
        width: 1.8em; /*Define a largura*/
        height: 1.8em; /*Define a altura*/
        padding-bottom: 10%; /*Define o padding inferior*/
    }

    /*Index*/
    .capa-index { 
        width: 92%; /*Define a largura*/
        background-size:auto; /*O background fica automático*/
    }

    #Video {
        font-size:1.5em; /*Define o tamanho da fonte*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    #Portfolio {
        font-size:2.65em; /*Define o tamanho da fonte*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    /*About Me*/    
    .capa-about { 
        width: 92%; /*Define a largura*/
        background-image:none; /*Retira a imagem de fundo*/ 
        margin-bottom: 6em; /*Define a margem inferior*/
    }

    #titles{
        padding-top: 10%; /*Define o padding superior*/
        font-size: 1.5em; /*Define o tamanho da fonte*/
        width: 100%; /*Define a largura*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    #subtitles{
        font-size: 1em; /*Define o tamanho da fonte*/
        width: 100%; /*Define a largura*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    p{
        font-size: 0.6em; /*Define o tamanho da fonte*/
        width: 100%; /*Define a largura*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    #skills ul{
        font-size:0.6em; /*Define o tamanho da fonte*/
        display: flex; /*Define a disposição dos elementos*/
        flex-direction: column; /*Coloca os elementos em coluna*/
        gap:2em; /*Define o espaço entre os elementos*/
        justify-content: center; /* Alinha verticalmente ao centro */
        align-items: center; /* Alinha horizontalmente ao centro */
        padding-left: 31%; /*Define o padding esquerdo*/
    }

    .button {
        width: 35%; /* Define a largura dos elementos */
        font-size: 0.6em; /*Define o tamanho da fonte*/
        margin-top: 10%; /*Define a margem superior*/
        bottom:0; /*Posiciona o elemento consoante a parte inferior*/
        right:25%; /*Posiciona o elemento consoante o lado direito*/
    }

    #about{
        background-color: #000000; /*Define a cor de fundo do footer*/
        padding-top: 2em; /*Define o padding esquerdo*/
        width: 92%; /*Define a largura*/
    }

    /*Projects*/    
    .grid-item p {
        font-size: 0.6em; /*Define o tamanho da fonte*/
    }

    .item1{
        grid-column: 1; /*Altera para apenas 1 coluna*/
    }

    .grid-container{
        padding-bottom:7em; /*Define o padding inferior*/
        gap:40px; /*Define o espaço entre as caixas da grid*/
    }

    /*Project Individual*/    
    .apresentacao-project {
        display: flex; /*Define o tipo de disposição*/
        flex-direction: column; /*Coloca os elementos em coluna*/
        align-items: center; /*Alinha os elementos ao centro horizontalmente*/
    }

    .apresentacao-project iframe {
        order: 3; /* Define a ordem do iframe */
        width: 100%; /*Define a largura*/
        height: 10em; /*Define a altura*/
    }

    #titles-project {
        order: 1; /* Define a ordem do título */
        font-size: 1.5em; /*Define o tamanho da fonte*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    #titles-project p{
        font-size: 0.6em; /*Define o tamanho da fonte*/
    }

    #titles-project-long {
        font-size: 1.5em; /*Define o tamanho da fonte*/
        text-align: center; /*Alinha o texto ao centro*/
    }

    .apresentacao-project p {
        order: 2; /* Define a ordem do parágrafo */
        text-align: justify; /* Justifica o texto */
        font-size: 0.6em; /*Define o tamanho da fonte*/
    }

    .producao iframe{
        width: 100%; /*Define a largura*/
        height:12em; /*Define a altura*/
        padding: 0; /*Retira todos os padding que possam ter*/
    }

    .pre-producao{
        margin-bottom: 20%; /*Define a margem inferior*/
    }

    .capa-projeto4{
        margin-bottom: 24%; /*Define a margem inferior*/
    }

    .capa-projeto3{
        margin-bottom: 24%; /*Define a margem inferior desta área*/
    }

    .producao{
        margin-bottom: 30%; /*Define a margem inferior desta área*/
    }

}

