@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");


* 
{
  outline: 1px dashed red;
  outline-offset: -1px;
  margin:  0;
  padding: 0;
}

#logo{
    color:#ffffff;
    text-decoration: none;
    text-transform: none;
    font-weight: 700; /*bold*/
    font-family:"Dancing Script", cursive;
    font-size: 180%;
    float: left;
    justify-content:flex-start;

}

body
{
    background-color: #000000;
    font-family: "Archivo", sans-serif;
    font-size:1.4em;
    color:#ffffff;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
}


nav {
    text-transform: uppercase;
    display:flex;
    font-size: 0.6em;
    justify-content: space-between;
    align-items: center;
    position: sticky; /*faz menu fixar no momento do scroll + top e left*/
    top: 0%;
    left: 0%;
    gap:2em;
}

nav a{
    display: flex;
    gap:2em;
}

.menu-links {
    display: flex;
    gap:2em;
}

.menu-links a{
    display: flex; 
    gap:2em;
}


p{ /*p do sobre mim*/
    color:#ffffff;
    font-size:1em;
    text-align: justify;
    padding-top: 1em;
}

h1{
    text-transform: uppercase;
    font-weight: 900; /*black*/
}

h3{
    text-transform: uppercase;
    font-weight: 400; /*regular*/
    padding-top: 3em;
}

#Matilde{
    text-transform: uppercase;
    font-weight: 400; /*regular*/
    text-align: left;
}

#Domingues{
    text-transform: uppercase;
    font-weight: 900; /*black*/
    text-align: left;
}

/* main p{
    font-weight: lighter;
    text-transform: uppercase;
    padding-top: 1em;
    font-size: 76%;
}
*/

a:link{
    color: #ffffff;
    text-decoration: none;
}


a:visited{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}


nav a:hover{
    color: #ffffff;
    font-weight: bold;
}

a:active{
    color: #ffffff;
    font-weight: bold;
}

span{
    text-transform: uppercase;
    font-weight: 900; /*black*/
}

#sobremim, #projetos, #contactos{
    font-weight: bold;
    color:#ffffff;
    background-color: #000000;
}

/*section{
    padding-right: 50%;
}*/

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.footer-socialmedia{
    display: flex;
    gap: 0.5em;
}

footer p{
    text-align: right;
    font-size:40%;
    align-items: center;
}

footer img{
    width: 1.2em;
    height: 1.2em;
    align-items: center;
    display: flex;
}

footer a:hover img{
    opacity:1; 
    background-color:#ffffff;
    border-radius: 1.2em;
}


.socialmedia {
    padding:2em;
    align-items: center;
    display: flex;
    flex-direction:column; /*organizar elementos verticalmente*/
}

.socialmedia p{
  text-transform: uppercase;
  width: 6em;
  height: 1em;
  text-align: center;
  margin:0.5em;

  border-width: 1.5px;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 30px;
  padding: 10px;

  font-size: 0.6em;
}

.socialmedia p:hover{
    background-color:#ffffff;
    color:#000000;
}



figure 
{
  width: 50%;
  height: 50%;
  float: left;
  
    
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  
}


figure img 
{
  width: 100%;
}


figcaption 
{
  visibility: hidden;
}